*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/auth.json
/file_dumps/
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/pao
/vendor
/client/*
!/client/.gitkeep
Homestead.json
Homestead.yaml
Thumbs.db